---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import ServicesSection from '../components/ServicesSection.astro'
import BrandServices from '../components/BrandServices.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Nivek Studio">
	<main class="relative w-full h-screen lg:snap-y lg:overflow-auto lg:snap-mandatory">
		<Navbar></Navbar>
		<div class="snap-start">
			<Header></Header>
		</div>
		<div class="snap-start">
			<BrandServices></BrandServices>
		</div>
		<div class="snap-start">
			<ServicesSection></ServicesSection>			
		</div>
		<div class="snap-start">
			<Footer></Footer>
		</div>

	</main>
</Layout>

<style></style>
